:root {
  --bg: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

#game {
  width: 100vw;
  height: 100vh;
  border: 0;
  pointer-events: none;
  user-select: none;
}

html,
body {
  overscroll-behavior: none;
  overflow: hidden;
  background-color: var(--bg);
}
